.account__wrapper {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    max-width: 30rem;
    height: auto;
    & *>* {
        margin-bottom: 1rem;
    }
}

input,
button {
    width: 100%;
    padding: $halfPad;
    display: block;
}