img {
    width: 100%;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.grid {
    a {
        color: $neutral20;
        height: 100%;
    }
    .grid {
        a {
            color: $neutral20;
            height: 100%;
        }
    }
}

.article__line {
    display: none;
}

// SECTIONS
.news,
.sport,
.culture,
.lifestyle,
.opinion {
    // Remove extra padding between wrappers
    &>div:nth-child(2) {
        padding-top: 0;
    }
}

.sport,
.culture,
.lifestyle,
.opinion {
    .article__section-title {
        display: none;
    }
}

.sport {
    .left-col__title::after {
        margin-top: 0.3rem;
    }
    .article {
        border-top: 2px solid $sportMain;
        transition: box-shadow 0.5s, background-color 0.5s;
        &:hover {
            background-color: $sportFaded;
            box-shadow: 0 0 1.5rem 0 rgba(5, 41, 98, 0.3);
        }
        span {
            color: $sportMain;
        }
        .article__line {
            background-color: $sportMain;
        }
    }
}

.culture {
    .article {
        border-top: 2px solid $cultureMain;
        transition: box-shadow 0.5s, background-color 0.5s;
        &:hover {
            background-color: $cultureFaded;
            box-shadow: 0 0 1.5rem 0 rgba(92, 76, 53, 0.3);
        }
        span {
            color: $cultureMain;
        }
        .article__line {
            background-color: $cultureMain;
        }
    }
}

.lifestyle {
    .left-col__title::after {
        margin-top: 0.3rem;
    }
    .article {
        border-top: 2px solid $lifestyleMain;
        transition: box-shadow 0.5s, background-color 0.5s;
        &:hover {
            box-shadow: 0 0 1.5rem 0 rgba(91, 56, 85, 0.3);
        }
        span {
            color: $lifestyleMain;
        }
        .article__line {
            background-color: $lifestyleMain;
        }
    }
}

.opinion {
    .article {
        border-top: 2px solid $opinionBright;
        transition: box-shadow 0.5s, background-color 0.5s;
        &:hover {
            background-color: $opinionFaded;
            box-shadow: 0 0 1.5rem 0 rgba(74, 62, 46, 0.3);
        }
        span {
            color: $opinionBright;
        }
        .article__line {
            background-color: $opinionBright;
        }
    }
}

.news {
    .article {
        border-top: 2px solid $newsMain;
        transition: box-shadow 0.5s, background-color 0.5s;
        &:hover {
            box-shadow: 0 0 1.5rem 0 rgba(5, 41, 98, 0.3);
        }
        span {
            color: $newsMain;
        }
        .article__line {
            background-color: $newsMain;
        }
    }
}

.search {
    .article {
        border-top: 2px solid $newsMain;
        transition: box-shadow 0.5s, background-color 0.5s;
        &:hover {
            box-shadow: 0 0 1.5rem 0 rgba(5, 41, 98, 0.3);
        }
        span {
            color: $newsMain;
        }
        .article__line {
            background-color: $newsMain;
        }
    }
}

// ARTICLE WRAPPER
.article-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.article-wrapper--column {
    @include flexColumn;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    a {
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.article {
    justify-self: stretch;
    height: 100%;
    background-color: $neutral97;
}

.article--primary {
    @include flexColumn;
}

.article--padded--bg {
    padding: $halfPad $halfPad;
}

.article--w-trailtext {
    @include flexColumn;
}

.article__text-container--hero {
    padding: 0 0.5rem 0.5rem;
}

.article__text-container--single {
    padding: 0 0.5rem;
}

.article__text-container {
    padding: 0 0.5rem 0.5rem;
}

// BG
.bg--alt {
    background-color: $neutral90;
    // Remove extra spacing between wrappers in bg--alt. See Pages.
    &>div:nth-child(2) {
        padding-top: 0;
    }
    .article {
        background-color: white;
    }
}

.article__img-container {
    img {
        display: block;
        justify-self: stretch;
        height: 100%;
        width: 100%;
    }
}

.article__trail-text {
    display: none;
}

.article__live-span {
    color: $newsMain;
    font-weight: 900;
    animation: blinker 1.5s linear infinite;
    opacity: 1;
}

// MOST VIEWED
.most-viewed {
    @include flexColumn;
    border-left: 1px solid $neutral86;
    border-right: 1px solid $neutral86;
    border-top: 1px solid $neutral86;
}

.most-viewed__list-item {
    padding: $fullPad;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $neutral86;
    p,
    h4 {
        color: $neutral7;
        font-family: "Merriweather", Georgia;
    }
}

.most-viewed__index-heading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
    margin-right: 1rem;
}

.most-viewed__heading {
    font-size: 1rem;
    margin-bottom: 0;
}

@media (min-width: 755px) {
    .article--hero {
        width: 100%;
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        height: min-content;
    }
    .article--tertiary {
        padding: 0 0;
    }
    .article--w-trailtext {
        @include flexColumn;
        padding-bottom: 0.5rem;
    }
    .article__text-container {
        @include flexColumn;
        justify-content: flex-start;
        height: auto;
        padding: 0 0.5rem 0.5rem;
    }
    .article__trail-text {
        display: block;
        margin: 0.5rem 0;
        justify-self: flex-end;
    }
    .article__img-container--hero {
        flex-basis: 66%;
        flex-shrink: 3;
        img {
            height: auto;
        }
    }
    .article__text-container--hero {
        @include flexColumn;
        flex-basis: 33%;
        flex-shrink: 1;
        justify-content: flex-start;
        padding: 0 0.5rem;
    }
    .article__img-container--overlay {
        position: relative;
    }
    // MOST VIEWED
    .most-viewed {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .most-viewed__list--left,
    .most-viewed__list--right {
        @include flexColumn;
    }
    .most-viewed__list--right {
        border-left: 1px solid $neutral86;
    }
    .most-viewed__list-item {
        min-height: 5rem;
        height: 100%;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0 0 2rem rgba(23, 47, 86, 0.2);
        }
    }
}

@media (min-width: 960px) {
    .article__line {
        width: 25%;
        height: 2px;
        display: block;
        background-color: $newsMain;
        margin: 0.5rem 0 0.5rem;
    }
}

// ALTERNATIVE STYLES
// Live Articles Styles //
.red {
    h2 {
        span {
            color: $newsMain;
            font-weight: 900;
        }
        span.article__live-span {
            animation: blinker 1.5s linear infinite;
            opacity: 1;
        }
    }
    position: relative;
    z-index: 0;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient($newsMain, $newsMain);
        animation: rotate 3s linear infinite;
    }
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 2px;
        top: 4px;
        width: calc(100% - 4px);
        height: calc(100% - 6px);
        background: #f5f5f5;
    }
    @media (min-width: 755px) {
        border-top: 2px solid $newsMain;
        &::before {
            content: "";
            display: none;
        }
        &::after {
            content: "";
            display: none;
        }
    }
}

// Live Article Animations
// Live blinker
@keyframes blinker {
    10% {
        opacity: 0;
    }
    40% {
        opacity: 100;
    }
}

// Live Article border
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}