// BEM STYLES
.wrapper {
    margin: 0 auto;
    width: 90vw;
}

.col-left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.col-main {
    @include flexColumn;
    width: 100%;
    height: 100%;
}

@media (min-width: 755px) {
    .col-left {
        width: 100%;
        display: flex;
        height: auto;
    }
    .col-main {
        flex-shrink: 3;
        flex-basis: 90%;
    }
}

@media (min-width: 960px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    .col-left {
        height: 100%;
        flex-direction: column;
    }
    .col-main {
        flex-shrink: 3;
        height: 100%;
        display: flex;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        width: 80vw;
    }
}

// MAIN GRID STYLES (Featured in Home.js)
@media (min-width: 755px) {
    .grid {
        display: grid;
        width: 100%;
    }
    .grid--3fr-1fr {
        grid-template-columns: 3fr 1fr;
        grid-column-gap: $halfPad;
        margin-bottom: $halfPad;
        grid-template-rows: max-content;
    }
    .grid--3fr {
        grid-template-columns: repeat(3, 3fr);
        grid-gap: $halfPad;
        grid-template-rows: max-content;
    }
    .grid__item {
        display: flex;
    }
    .grid__item--span2 {
        grid-column: span 2;
    }
    .grid__item--span3 {
        grid-column: span 3;
    }
}