.sidenav__container {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    background-color: $brandMain;
    box-shadow: 1rem 0 10rem #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    .side-icon {
        align-self: flex-end;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
    button {
        align-self: flex-end;
    }
    @media (min-width: 755px) {
        width: 20rem;
    }
    .nav__support-links {
        line-height: 1.3;
        margin-bottom: 1rem;
        padding-left: 1rem;
        h4 {
            margin: 0;
            color: $highlight;
            font-size: 1.5rem;
        }
        display: flex;
        flex-direction: column;
        p {
            font-family: "Archivo", sans-serif;
            color: $neutral100;
            font-size: 0.7rem;
            margin-bottom: 0.25rem;
        }
    }
    .support-links__wrapper {
        display: flex;
        flex-wrap: wrap;
        a:first-child {
            margin-right: 0.5rem;
        }
    }
    .support-link {
        background-color: $highlight;
        color: $brandMain;
        padding: 0.5rem;
        padding-left: 1rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        width: 8rem;
        height: 1.6rem;
        transition: 0.4s ease;
        .forward-icon {
            width: 15px;
            path {
                fill: $brandMain;
            }
        }
        &:hover {
            background-color: $highlightDark;
        }
    }
}

.sidenav__menu {
    .menu-links {
        ul {
            @include flexColumn;
            display: flex;
            width: 100%;
            li {
                border-bottom: 1px solid $brandPastel;
                width: 100%;
                &:hover {
                    border-color: transparent;
                }
            }
            .current {
                border-color: transparent;
            }
            .link-guardian {
                padding: 0.5rem 1rem;
                img {
                    width: 6rem;
                }
            }
        }
    }
    .account-links {
        display: flex;
        justify-content: center;
        padding: 0.5rem 0.5rem;
        ul {
            display: flex;
            width: 100%;
            li {
                display: none;
            }
            #accountName {
                display: flex;
                svg {
                    margin-right: 0.1rem;
                    path {
                        fill: $brandPastel;
                    }
                }
            }
            .liShown {
                padding: 0 0.25rem;
                display: flex;
                align-items: center;
                p {
                    color: $brandPastel;
                    strong {
                        font-family: "Archivo", sans-serif;
                    }
                }
                a {
                    text-decoration: none;
                    color: $neutral100;
                    font-family: "Archivo", sans-serif;
                    transition: 0.4s ease;
                    &:hover {
                        color: $brandPastel;
                    }
                }
            }
        }
    }
}