:root {
  font-size: 16px;
  color: $neutral97;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $quartPad;
  margin-bottom: $fullPad;
  line-height: 1.2;
  span {
    color: $newsMain;
    font-weight: 900;
  }
}

.article__heading--primary {
  font-size: 1.296rem;
}

.article__heading--secondary {
  font-size: 1rem;
}

.article__heading--tertiary {
  font-size: 0.833rem;
  font-weight: 500;
}

.meta {
  font-size: 0.937rem;
}

.left-col__title {
  font-weight: 900;
  position: relative;
  margin-bottom: $halfPad;
  font-size: 1.6rem;
}

@media (max-width: 755px) {
  .article__heading--tertiary {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (min-width: 755px) {
}

@media (min-width: 960px) {
  :root {
    font-size: 18px;
  }
  .left-col__title {
    font-weight: 900;
  }
}
