:root {
    font-size: 16px;
    color: $neutral97;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    span {
        color: $newsMain;
        font-weight: 900;
    }
}

p,
p>span {
    font-family: "Archivo", sans-serif;
}

// ARTICLE
.article {
    a {
        color: $neutral20;
    }
}

.article__section-title {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.article__section-title--hero {
    font-size: 1rem;
}

.article__section-title-tertiary {
    margin-bottom: 0.25rem;
}

.article__heading--primary {
    font-size: 1.296rem;
    letter-spacing: -0.9px;
}

.article__heading--secondary {
    font-size: 1rem;
    letter-spacing: -0.9px;
}

.article__heading--tertiary {
    font-size: 0.833rem;
    font-weight: 500;
}

.article__trail-text {
    font-size: 0.75rem;
}

// ARTICLE DETAIL
.detail__heading--primary {
    font-size: 2rem;
}

.detail__section-title {
    font-size: 1.2rem;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

@media (min-width: 1200px) {
    .detail__heading--primary {
        font-size: 1.8rem;
    }
    .detail__section-title {
        font-size: 1rem;
    }
}

// COMMENTS
.comments__heading {
    color: $neutral100;
    font-size: 1.296rem;
    padding: 1rem;
}

.meta {
    font-size: 0.937rem;
}

.left-col__title {
    font-weight: 900;
    position: relative;
    margin-bottom: $halfPad;
    font-size: 1.6rem;
}

@media (max-width: 755px) {
    .article__heading--tertiary {
        font-size: 1rem;
        font-weight: 500;
    }
}

@media (min-width: 755px) {
    .acrticle__section-title {
        margin-top: 0;
    }
}

@media (min-width: 960px) {
     :root {
        font-size: 18px;
    }
    .left-col__title {
        font-weight: 900;
    }
}